@import "../../styles/style.less";

section.meals {
  .section;
  .meals__container {
    .container;
    .meal {
      width: 25%;
      display: block;
      float: left;
      .meal__img {
        width: 100%;
        height: auto;
      }
    }
  }
}
