@import "../../styles/style.less";

section.cities {
  .section;

  .cities__container {
    .container;

    .cities__headline {
      .section-headline;
    }
    .cities__list {
      overflow: hidden;
      .city {
        display: block;
        float: left;
        width: 25%;
        .city__img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
